# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [ ]:
# write your answer

age =35

print(age)

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [1]:
# w
notebook = 76
print(notebook)

76

### Question 3
Create a variable to store your **first name** and print it.

In [ ]:
name = Alish
print(name)

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [2]:
is_completed_class=True
print (is_completed_class)
# write your answer

True

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [4]:
# write your answer
classattended=20
rating = 12.8
print (classattended)
print (rating)

20
12.8

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [5]:
# write your answer
name = "rahul"
age = "22"
print (f" my name is {name} and i am {age} years old")

 my name is rahul and i am 22 years old


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [8]:
item_name ="pen"
price = "10.5"
print (f" the price of a {item_name} is {price} rupees")# write your answer

 the price of a pen is 10.5 rupees

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [9]:
batch="d10"
class_status="True"
print (f"batch {batch} class completed status {class_status}")

batch d10 class completed status True